api_platform:
    title: 'Pivní Konto API'
    description: 'API pro sledování konzumace piva mezi přáteli'
    version: '1.0.0'

    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']

    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        extra_properties:
            standard_put: true
            rfc_7807_compliant_errors: true

    event_listeners_backward_compatibility_layer: false
    keep_legacy_inflector: false
