framework:
    secret: '%env(APP_SECRET)%'
    handle_all_throwables: true

    http_method_override: false
    php_errors:
        log: true

    uid:
        default_uuid_version: 7
        time_based_uuid_version: 7
